@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  list-style: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  @media (max-width: 768px) {
    font-size: 55%;
  }
  @media (max-width: 450px) {
    font-size: 50%;
  }
}
img{
  max-width: 100%;
}
body{
  height: 1000vh;
}
.hero {
  height: 100vh;
  width: 100%;
  background: url(../img/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 1;
  @media (max-width: 768px){
    height: 80vh;
  }
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
  }
  button {
    padding: 1rem 3rem;
    background: black;
    color: #fff;
    font-size: 1.8rem;
    display: inline-block;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    cursor: pointer;
  }
}

.slider{
  position: relative;
  width: 70%;
  height: 40rem;
  margin: 2rem auto;
  overflow: hidden;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  @media (max-width: 450px){
    width: 90%;
    
  }


  .slide{
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0.0% at 0 50%);
    transition: 2s ;
    -webkit-transition: 2s ;
    -moz-transition: 2s ;
    -ms-transition: 2s ;
    -o-transition: 2s ;
    img{
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .info{
      position: absolute;
      color: #222;
      background: rgba(255, 255, 255, 0.3);
      width: 72%;
      margin-top: 5rem;
      margin-left: 5rem;
      border-radius: .5rem;
      -webkit-border-radius: .5rem;
      -moz-border-radius: .5rem;
      -ms-border-radius: .5rem;
      -o-border-radius: .5rem;
      padding: 2rem;
      box-shadow: 0 .5rem 2.5rem rgba(0,0,0,0.5);
      @media(max-width: 768px){
        width: 90%;
      }
      @media(max-width: 450px){
        width: 100%;
        margin-top: auto;
      margin-left: auto;
      }
      h2{
        font-size: 2rem;
        font-weight: 800;
        margin-bottom: 1.5rem;
      }
      p{
        font-size: 1.5rem;
        font-weight: 500;
        color: #222;
      }
}
  }
  .navigation{    
    display: flex;
    height: 40rem;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    .prev-btn, .next-btn{
      z-index: 999;
      font-size: 2rem;
      color: #222;
      background: rgba(255, 255, 255, 0.8);
      padding: 1rem;
      cursor: pointer;
    }
    .prev-btn{
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
    .next-btn{
      border-top-left-radius: .3rem;
      border-bottom-left-radius: .3rem;
    }    
  }
  &:hover{
    .navigation{
      opacity: 1;
    }
  }
  .slideIcon{
    position: absolute;
    z-index: 999;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    .icon{
      background: #fff;
      width: 3rem;
      height: .4rem;
      margin-left: 2rem;
      box-shadow: 0 .3rem .5rem rgba(0,0,0,0.5);
      border-radius: 1rem;
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      -ms-border-radius: 1rem;
      -o-border-radius: 1rem;
      transform: all 0.3s ease;
      -webkit-transform: all 0.3s ease;
      -moz-transform: all 0.3s ease;
      -ms-transform: all 0.3s ease;
      -o-transform: all 0.3s ease;
}
.active{
  background: #FF5733;
}

  }
  .active{
    clip-path: circle(150% at 0 50%);
    z-index: 1;
  }
  
}


