@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  list-style: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

img {
  max-width: 100%;
}

body {
  height: 1000vh;
}

.img-slider {
  position: relative;
  width: 90%;
  height: 50rem;
  overflow: hidden;
  margin: auto;
  border-radius: 5rem;
  margin-top: 2rem;
}

.img-slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-clip-path: circle(0% at 0 50%);
          clip-path: circle(0% at 0 50%);
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transition-property: -webkit-clip-path;
  transition-property: -webkit-clip-path;
  transition-property: clip-path;
  transition-property: clip-path, -webkit-clip-path;
  z-index: -1;
}

.img-slider .slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img-slider .slide .info {
  position: absolute;
  z-index: 999;
  top: 2%;
  left: 40%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.img-slider .slide .info h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.img-slider .slide .info p {
  font-size: 1.5rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.5);
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

.img-slider .active {
  -webkit-clip-path: circle(150% at 0 50%);
          clip-path: circle(150% at 0 50%);
  z-index: 1;
}

.img-slider .bulet {
  position: absolute;
  bottom: 5%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  z-index: 999;
}

.img-slider .bulet .icon {
  height: 1.5rem;
  width: 1.5rem;
  border: .2rem solid #fff;
  z-index: 999;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-left: 1rem;
}

.img-slider .bulet .active {
  background: #fff;
  -webkit-box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=style.css.map */